.peso-tamaño {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.pesoTamaño {
  width: 40px;
  display: flex;
}
.creando-pokemon {
  display: flex;
  flex-direction: column;
}
.nombre-pokemon {
  width: 40%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.stats-pokemon {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.statPokemon {
  width: 80px;
}
.movimiento-pokemon {
  display: flex;
  flex-direction: row;
  width: 40%;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.colores-pokemon {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.descripcion-pokemon {
  display: flex;
  flex-direction: column;
}
textarea {
  border-radius: 30px;
  text-align: center;
}
.crear {
  min-width: 170px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #ffd819;
  color: #ffd819;
  margin: 10px 0px 30px;
}
.crear:hover {
  color: #fff;
}
.crear:hover:after {
  width: 100%;
}
.crear:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #ffd819;
}
.imagen-pokemon {
  display: flex;
  flex-direction: column;
}
.titulo-agregar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
